*
!.devcontainer.json
!.github/
!.github/ISSUE_TEMPLATE/
!.github/ISSUE_TEMPLATE/bug_report.yml
!.github/ISSUE_TEMPLATE/config.yml
!.github/ISSUE_TEMPLATE/enhancement.yml
!.github/ISSUE_TEMPLATE/mod_request.yml
!.github/ISSUE_TEMPLATE/question.yml
!.github/PULL_REQUEST_TEMPLATE/
!.github/PULL_REQUEST_TEMPLATE/bug_fix.md
!.github/PULL_REQUEST_TEMPLATE/feature.md
!.github/workflows/
!.github/workflows/upload.yml
!.gitignore
!CHANGELOG.md
!categories.txt
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!config/
!config/AsyncLoggers/
!config/AsyncLoggers/LogLevels.cfg
!config/BepInEx.cfg
!config/Bertogim.LoadingScreen.cfg
!config/BiggerShip.cfg
!config/bootstrap.cfg
!config/butterystancakes.lethalcompany.accuratestaminadisplay.cfg
!config/butterystancakes.lethalcompany.artificeblizzard.cfg
!config/butterystancakes.lethalcompany.barberfixes.cfg
!config/butterystancakes.lethalcompany.butterybalance.cfg
!config/butterystancakes.lethalcompany.butteryfixes.cfg
!config/butterystancakes.lethalcompany.chameleon.cfg
!config/butterystancakes.lethalcompany.halloweenaction.cfg
!config/butterystancakes.lethalcompany.halloweenelevator.cfg
!config/butterystancakes.lethalcompany.jetpackfixes.cfg
!config/butterystancakes.lethalcompany.maskfixes.cfg
!config/butterystancakes.lethalcompany.snowyholidaydropship.cfg
!config/butterystancakes.lethalcompany.restoremapper.cfg
!config/butterystancakes.lethalcompany.revisitstingers.cfg
!config/coderCleric.Poltergeist.cfg
!config/com.adibtw.loadstone.cfg
!config/com.elitemastereric.coroner.cfg
!config/com.fumiko.CullFactory.cfg
!config/com.github.CharlesE2.HostFixes.cfg
!config/com.github.lethalcompanymodding.runtimeicons.cfg
!config/com.github.WhiteSpike.DivingKit.cfg
!config/com.github.WhiteSpike.ExtendDeadline.cfg
!config/com.github.WhiteSpike.ShoppingCart.cfg
!config/com.github.WhiteSpike.Wheelbarrow.cfg
!config/com.github.zehsteam.KidnapperFoxSettings.cfg
!config/com.malco.lethalcompany.moreshipupgrades.cfg
!config/com.nozz.lethalmissions.cfg
!config/com.zealsprince.locker.cfg
!config/Darkbrewery.Emblem.cfg
!config/darmuh.suitsTerminal.cfg
!config/darmuh.TerminalStuff.cfg
!config/DBJ.BetterScanVision.cfg
!config/DiFFoZTweaks.cfg
!config/DiggC.CruiserImproved.cfg
!config/DissonanceVoiceSettings.cfg
!config/dopadream.lethalcompany.HexiShotgunTweaks.cfg
!config/dopadream.lethalcompany.rebalancedmoons.cfg
!config/e3s1.BetterLadders.cfg
!config/fandovec03.SpiderPositionFix.cfg
!config/FlipMods.FasterItemDropship.cfg
!config/FlipMods.HotbarPlus.cfg
!config/FlipMods.ReservedItemSlotCore.cfg
!config/FlipMods.ReservedUtilitySlot.cfg
!config/furiante.WeedKillerTweaks.cfg
!config/GoldenKitten.FairAI.cfg
!config/HookGenPatcher.cfg
!config/ImmersiveScrap.cfg
!config/ironthumb.BetterFog.cfg
!config/JLL
!config/JLL/Magic Wesley.Toy Store.cfg
!config/LethalHUD.cfg
!config/LethalLevelLoader.cfg
!config/LethalPerformance.cfg
!config/LethalSponge.cfg
!config/LoadingInfo.cfg
!config/LoadingTips.txt
!config/mattymatty.BagConfig.cfg
!config/mattymatty.EntranceTeleportOptimizations.cfg
!config/mattymatty.FurnitureLock.cfg
!config/mattymatty.LobbyControl.cfg
!config/me.swipez.melonloader.morecompany.cfg
!config/MegaPiggy.BuyableShotgunShells.cfg
!config/Mirage.General.cfg
!config/Missile.LCEliteFlashlight.cfg
!config/MrHydralisk.EnhancedLockpicker.cfg
!config/MrHydralisk.EnhancedRadarBooster.cfg
!config/MrHydralisk.MajorityVote.cfg
!config/mrov.WeatherRegistry.cfg
!config/NightOfTheLivingMimic.cfg
!config/Piggy.LCOffice.cfg
!config/rectorado.FontUpdate.cfg
!config/ScienceBird.MoreCupboards.cfg
!config/ScienceBird.PolishedPlushiesAndSillyScrap.cfg
!config/quackandcheese.mirrordecor.cfg
!config/ScienceBird.ScienceBirdTweaks.cfg
!config/scin.monsterplushies.cfg
!config/scin.scavengerPlush.cfg
!config/ShaosilGaming.GeneralImprovements.cfg
!config/soundpack.ShipAudioTweaks.cfg
!config/Swaggies.BetterEXP.cfg
!config/Swaggies.NaturalHealthRegen.cfg
!config/taffyko.NameplateTweaks.cfg
!config/TerminalFormatter.cfg
!config/TestAccount666.DoorBreach.cfg
!config/TestAccount666.LooseJesterSpring.cfg
!config/TestAccount666.PoisonPuffer.cfg
!config/TestAccount666.ShipWindows.cfg
!config/TestAccount666.TestAccountFixes.cfg
!config/TestAccount666.TestAccountVariety.cfg
!config/TooManySuits.cfg
!config/uk.1a3.lethalfixes.cfg
!config/uk.1a3.yesfox.cfg
!config/WeatherTweaks.cfg
!config/WeedKillerAdjuster.cfg
!config/x753.Mimics.cfg
!config/x753.More_Suits.cfg
!config/Zaggy1024.OpenBodyCams.cfg
!dependencies.txt
!docs/
!docs/BetterFog.md
!docs/Equipment.md
!docs/Lategame.md
!docs/Mods.md
!docs/Rejected.md
!docs/Terminal.md
!docs/WeatherRegistry.md
!icon.png
!LICENSE
!README.md