*
!.devcontainer.json
!.github/
!.github/ISSUE_TEMPLATE/
!.github/ISSUE_TEMPLATE/bug_report.yml
!.github/ISSUE_TEMPLATE/config.yml
!.github/ISSUE_TEMPLATE/enhancement.yml
!.github/ISSUE_TEMPLATE/mod_request.yml
!.github/ISSUE_TEMPLATE/question.yml
!.github/workflows/
!.github/workflows/upload.yml
!.gitignore
!CHANGELOG.md
!categories.txt
!CODE_OF_CONDUCT.md
!config/
!config/BepInEx.cfg
!config/butterystancakes.lethalcompany.accuratestaminadisplay.cfg
!config/butterystancakes.lethalcompany.artificeblizzard.cfg
!config/butterystancakes.lethalcompany.barberfixes.cfg
!config/butterystancakes.lethalcompany.butterybalance.cfg
!config/butterystancakes.lethalcompany.butteryfixes.cfg
!config/butterystancakes.lethalcompany.chameleon.cfg
!config/butterystancakes.lethalcompany.enemysoundfixes.cfg
!config/butterystancakes.lethalcompany.halloweenaction.cfg
!config/butterystancakes.lethalcompany.halloweenelevator.cfg
!config/butterystancakes.lethalcompany.jetpackfixes.cfg
!config/butterystancakes.lethalcompany.maskfixes.cfg
!config/butterystancakes.lethalcompany.snowyholidaydropship.cfg
!config/com.adibtw.loadstone.cfg
!config/com.atomic.shotgunsafety.cfg
!config/com.elitemastereric.coroner.cfg
!config/com.fumiko.CullFactory.cfg
!config/com.github.lethalcompanymodding.runtimeicons.cfg
!config/com.github.WhiteSpike.LategameCompanyCruiserUpgrades.cfg
!config/com.github.WhiteSpike.Wheelbarrow.cfg
!config/com.github.zehsteam.KidnapperFoxSettings.cfg
!config/com.malco.lethalcompany.moreshipupgrades.cfg
!config/com.nozz.lethalmissions.cfg
!config/com.zealsprince.locker.cfg
!config/com.zealsprince.malfunctions.cfg
!config/darmuh.TerminalStuff.cfg
!config/den.meltdownchance.cfg
!config/DiggC.CruiserImproved.cfg
!config/dopadream.lethalcompany.rebalancedmoons.cfg
!config/fandovec03.SpiderPositionFix.cfg
!config/FlipMods.FasterItemDropship.cfg
!config/FlipMods.ReservedItemSlotCore.cfg
!config/FlipMods.ReservedUtilitySlot.cfg
!config/furiante.WeedKillerTweaks.cfg
!config/HookGenPatcher.cfg
!config/ImmersiveScrap.cfg
!config/impulse.Arachnophilia.cfg
!config/ironthumb.BetterFog.cfg
!config/JacobG5.WesleyMoonScripts.cfg
!config/LethalLevelLoader.cfg
!config/mattymatty.LobbyControl.cfg
!config/me.loaforc.facilitymeltdown.cfg
!config/me.loaforc.facilitymeltdown.Client.cfg
!config/me.swipez.melonloader.morecompany.cfg
!config/MegaPiggy.BuyableShotgunShells.cfg
!config/Mirage.General.cfg
!config/mrgrm7.LethalCasino.cfg
!config/MrHydralisk.EnhancedRadarBooster.cfg
!config/mrov.WeatherRegistry.cfg
!config/Ovchinikov.SnatchinBracken.Main.cfg
!config/Piggy.LCOffice.cfg
!config/quackandcheese.mirrordecor.cfg
!config/scin.monsterplushies.cfg
!config/scin.scavengerPlush.cfg
!config/SCPCBDunGen.cfg
!config/ShaosilGaming.GeneralImprovements.cfg
!config/SpikeTrapFixes.cfg
!config/taffyko.BetterSprayPaint.cfg
!config/TerminalFormatter.cfg
!config/TooManySuits.cfg
!config/uk.1a3.lethalfixes.cfg
!config/uk.1a3.yesfox.cfg
!config/WeedKillerAdjuster.cfg
!config/windblownleaves.problematicpilotry.cfg
!config/x753.Mimics.cfg
!config/Zaggy1024.OpenBodyCams.cfg
!dependencies.txt
!docs/
!docs/BetterFog.md
!docs/Mods.md
!docs/Terminal.md
!icon.png
!LICENSE
!README.md