[Aquaticdungeonflow - magic_wesleysmod:aquaticdungeonflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: AquaticDungeonFlow, Aquaticdungeonflow
Appropriate Aliases = AquaticDungeonFlow, Aquaticdungeonflow, Atlantean Citadel, Citadel

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: magic_wesleysmod:custom
Tags = magic_wesleysmod:custom

[Backroomsflow - genericinteriors:backroomsflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: BackroomsFlow, Backroomsflow
Appropriate Aliases = BackroomsFlow, Backroomsflow, Liminal Facility, Backrooms

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: genericinteriors:custom
Tags = genericinteriors:custom

[Deepmines - deepcore_mines:deepmines]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: deepmines, Deepmines
Appropriate Aliases = deepmines, Deepmines

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: deepcore_mines:custom
Tags = deepcore_mines:custom

[Deepsewersflow - magic_wesleysmod:deepsewersflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: DeepSewersFlow, Deepsewersflow
Appropriate Aliases = DeepSewersFlow, Deepsewersflow, Deep Sewers

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: magic_wesleysmod:custom
Tags = magic_wesleysmod:custom

[Drainsflow - genericinteriors:drainsflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: DrainsFlow, Drainsflow
Appropriate Aliases = DrainsFlow, Drainsflow, Drains

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: genericinteriors:custom
Tags = genericinteriors:custom

[Expandedfacility - magicwesleysmod:expandedfacility]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: ExpandedFacility, Expandedfacility
Appropriate Aliases = ExpandedFacility, Expandedfacility, Expanded Facility, Facility, Expanded Factory, Factory

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: magicwesleysmod:custom
Tags = magicwesleysmod:custom

[Facility - lethal_company:facility]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: Level1Flow, Facility
Appropriate Aliases = Level1Flow, Vanilla Facility, Unused Facility

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: lethal_level_loader:custom, lethal_company:abandoned, lethal_company:artifical, lethal_company:claustrophobic, lethal_company:dusty, lethal_company:factory, lethal_company:industrial, lethal_company:maze, lethal_company:mechanical, lethal_company:monotone, lethal_company:reactor, lethal_company:storage
Tags = lethal_level_loader:custom, lethal_company:abandoned, lethal_company:artifical, lethal_company:claustrophobic, lethal_company:dusty, lethal_company:factory, lethal_company:industrial, lethal_company:maze, lethal_company:mechanical, lethal_company:monotone, lethal_company:reactor, lethal_company:storage

[Facilityextralarge - lethal_company:facility_extra_large]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: Level1FlowExtraLarge, Facilityextralarge
Appropriate Aliases = Level1FlowExtraLarge, Facilityextralarge

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: lethal_level_loader:custom
Tags = lethal_level_loader:custom

[Facilitythreeexits - lethal_company:facility_three_exits]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: Level1Flow3Exits, Facilitythreeexits
Appropriate Aliases = Level1Flow3Exits, Facilitythreeexits

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: lethal_level_loader:custom
Tags = lethal_level_loader:custom

[Fracturedcomplexflow - magic_wesleysmod:fracturedcomplexflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: FracturedComplexFlow, Fracturedcomplexflow
Appropriate Aliases = FracturedComplexFlow, Fracturedcomplexflow, Fractured Complex

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: magic_wesleysmod:custom
Tags = magic_wesleysmod:custom

[Grandarmoryflow - magicwesleysmod:grandarmoryflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: GrandArmoryFlow, Grandarmoryflow
Appropriate Aliases = GrandArmoryFlow, Grandarmoryflow, Grand Armory

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: magicwesleysmod:custom
Tags = magicwesleysmod:custom

[Greenhouseflow - magic_wesleysmod:greenhouseflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: GreenhouseFlow, Greenhouseflow
Appropriate Aliases = GreenhouseFlow, Greenhouseflow, Greenhouse

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: magic_wesleysmod:custom
Tags = magic_wesleysmod:custom

[Levelthreebutcoolflow - magicwesleysmod:levelthreebutcoolflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: Level3ButCoolFlow, Levelthreebutcoolflow
Appropriate Aliases = Level3ButCoolFlow, Levelthreebutcoolflow, Expanded Mineshaft, Mineshaft

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: magicwesleysmod:custom
Tags = magicwesleysmod:custom

[Mansion - lethal_company:mansion]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: Level2Flow, Mansion
Appropriate Aliases = Level2Flow, Mansion, Manor, Haunted Mansion

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: lethal_level_loader:custom, lethal_company:gothic, lethal_company:grand, lethal_company:lavish, lethal_company:ornate
Tags = lethal_level_loader:custom, lethal_company:gothic, lethal_company:grand, lethal_company:lavish, lethal_company:ornate

[Mineshaft - lethal_company:mineshaft]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: Level3Flow, Mineshaft
Appropriate Aliases = Level3Flow, Vanilla Mineshaft, Unused Mineshaft

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: lethal_level_loader:custom, lethal_company:natural, lethal_company:abandoned, lethal_company:artifical, lethal_company:cavern, lethal_company:claustrophobic, lethal_company:dusty, lethal_company:eerie, lethal_company:flooded, lethal_company:industrial, lethal_company:maze, lethal_company:monotone, lethal_company:quarry, lethal_company:ruins
Tags = lethal_level_loader:custom, lethal_company:natural, lethal_company:abandoned, lethal_company:artifical, lethal_company:cavern, lethal_company:claustrophobic, lethal_company:dusty, lethal_company:eerie, lethal_company:flooded, lethal_company:industrial, lethal_company:maze, lethal_company:monotone, lethal_company:quarry, lethal_company:ruins

[Museuminteriorflow - magic_wesleysmod:museuminteriorflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: MuseumInteriorFlow, Museuminteriorflow
Appropriate Aliases = MuseumInteriorFlow, Museuminteriorflow, Art Gallery

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: magic_wesleysmod:custom
Tags = magic_wesleysmod:custom

[Officedungeonflow - lc_office:officedungeonflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: OfficeDungeonFlow, Officedungeonflow
Appropriate Aliases = OfficeDungeonFlow, Officedungeonflow, LC Office, Upturned Office

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: lc_office:office, lc_office:custom
Tags = lc_office:office, lc_office:custom

[Rubberroomsflow - therubberrooms:rubberroomsflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: RubberRoomsFlow, Rubberroomsflow
Appropriate Aliases = RubberRoomsFlow, Rubberroomsflow, Rubber Rooms

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: therubberrooms:custom
Tags = therubberrooms:custom

[Shflow - genericinteriors:shflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: SHFlow, Shflow
Appropriate Aliases = SHFlow, Shflow, Storehouse

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: genericinteriors:custom
Tags = genericinteriors:custom

[Spookymanorflow - magicwesleysmod:spookymanorflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: SpookyManorFlow, Spookymanorflow
Appropriate Aliases = SpookyManorFlow, Spookymanorflow, Spooky Manor, Spooky Mansion, Halloween Mansion, Halloween Manor,Dilapidated Mansion,Dilapidated Manor

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: magicwesleysmod:custom
Tags = magicwesleysmod:custom

[Storeflow - magic_wesleysmod:storeflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: StoreFlow, Storeflow
Appropriate Aliases = StoreFlow, Storeflow, Decrepit Store

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: magic_wesleysmod:custom
Tags = magic_wesleysmod:custom

[Towerflow - genericinteriors:towerflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: TowerFlow, Towerflow
Appropriate Aliases = TowerFlow, Towerflow, Tower

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: genericinteriors:custom
Tags = genericinteriors:custom

[Toystoreflow - toy_store:toystoreflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## These are the names which LunarConfig will recognize as this object in other config options.
## They are case-insensitve and do not regard whitespace.
# Setting type: String
# Default value: ToystoreFlow, Toystoreflow
Appropriate Aliases = ToystoreFlow, Toystoreflow, Toy Store

## Tags allocated to the dungeon.
## Separate tags with commas.
# Setting type: String
# Default value: toy_store:custom
Tags = toy_store:custom

