name: Publish Modpack

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to publish'
        required: true
        default: '1.0.0'

jobs:
  preparation:
    name: Preparation
    runs-on: ubuntu-latest
    outputs:
      categories: ${{ steps.categories.outputs.list }}
      dependencies: ${{ steps.dependencies.outputs.list }}
      formatted_name: ${{ steps.format_name.outputs.result }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Format repository name
        id: format_name
        run: |
          NAME="${{ github.event.repository.name }}"
          echo "result=${NAME//-/_}" >> $GITHUB_OUTPUT
      - name: Read categories
        run: |
          CATEGORIES=$(cat categories.txt)
          echo "list<<EOF" >> $GITHUB_OUTPUT
          echo "$CATEGORIES" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      - name: Read dependencies
        id: dependencies
        run: |
          echo "list=$(tr '\n' ' ' < dependencies.txt)" >> $GITHUB_OUTPUT

  publish:
    name: Publish to Thunderstore
    needs: preparation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Update version string
        run: |
          sed -i "s/vUNSET/v${{ github.event.inputs.version }}/g" config/Darkbrewery.Emblem.cfg
      - name: Disable console
        run: |
          sed -i '/^\[Logging\.Console\]/,/^\[/ { /^\s*Enabled = true\s*$/ s/Enabled = true/Enabled = false/ }' config/BepInEx.cfg
      - name: Copy icon to patchers directory
        run: |
          mkdir -p patchers/Bertogim-LoadingScreen
          cp icon.png patchers/Bertogim-LoadingScreen/
      - name: Upload to Thunderstore
        uses: GreenTF/upload-thunderstore-package@v4.3
        with:
          categories: ${{ needs.preparation.outputs.categories }}
          community: ${{ vars.GAME_NAME }}
          deps: ${{ needs.preparation.outputs.dependencies }}
          description: ${{ github.event.repository.description }}
          name: ${{ needs.preparation.outputs.formatted_name }}
          namespace: ${{ vars.NAMESPACE }}
          repo: ${{ vars.THUNDERSTORE_REPOSITORY }}
          token: ${{ secrets.THUNDERSTORE_TOKEN }}
          version: ${{ github.event.inputs.version }}
